{% extends "base.html" %}

{% block content %}

<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Lead Details</h1>
            <a href="{% url 'leads:lead-list' %}" class="block text-white bg-indigo-600 font-semibold text-sm text-center py-2 px-3 rounded-md shadow-none hover:bg-indigo-500">
                Go back
            </a>
        </div>
    </div>
</header>
<main class="lg:px-8 sm:px-6 py-12">
    <div class="max-w-4xl mx-auto">
        <div class="bg-white overflow-hidden sm:rounded-lg shadow">
            <div class="py-6 px-4 sm:px-6">
                <div class="flex flex-wrap justify-between items-center -mt-4 -ml-4">
                    <h3 class="mt-4 ml-4 text-base font-semibold leading-6 text-gray-900">Lead personal information</h3>
                    <div class="flex shrink-0 mt-4 ml-4">
                        <a href="{% url 'leads:lead-update' lead.pk  %}" class="block text-white bg-indigo-600 font-semibold text-sm text-center py-2 px-3 rounded-md shadow-none hover:bg-indigo-500">
                            <span>Update</span>
                        </a>
                        <a href="#" class="block text-white bg-red-500 font-semibold text-sm text-center py-2 px-3 ml-3 rounded-md shadow-none hover:bg-red-400">
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
            </div>
            <dl class="border-t border-gray-200 divide-y divide-gray-100">
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-900">Full name</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ lead.first_name }} {{ lead.last_name }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-900">Email address</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">email@example.com</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-900">Age</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ lead.age }}</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-900">Category</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Category example</dd>
                </div>
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-900">Agent</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ lead.agent }}</dd>
                </div>
            </dl>
        </div>
    </div>
</main>

{% endblock content %}